In [1]:
import matplotlib.pyplot as plt      #시각화를 위한 설치
import matplotlib.font_manager as fm    # 한글 폰트
import matplotlib                   #시각화를 위한 설치
import os, warnings  
import pandas as pd                #구조 변경 및 결합을 하기 위한 설치
import seaborn as sns              #시각화를 위한 설치
import plotly.express as px        #시각화를 위한 설치

warnings.filterwarnings('ignore')

pd.set_option('display.max_rows', None)         #모든 행을 다 보여주라는 명령
pd.set_option('display.max_columns', None)      #모든 열을 다 보여주라는 명령

In [2]:
import FinanceDataReader as fdr

In [3]:
#삼성전자 (005930) 전체
STOCK_CODE='005930'
stock=fdr.DataReader(STOCK_CODE)
stock.tail()

             Open   High    Low  Close    Volume    Change
Date
2021-10-14  69000  69800  68800  69400  19520641  0.008721
2021-10-15  70200  71000  70000  70100  18051612  0.010086
2021-10-18  70200  70300  69200  70200  13486391  0.001427
2021-10-19  70800  71000  70400  70600   9507991  0.005698
2021-10-20  70700  71000  70200  70400   9212560 -0.002833