In [23]:
import pandas as pd

df = pd.read_csv('C:/Users/chlal/Desktop/POC시연자료/상관분석_혈압나이성별온도.csv')

In [24]:
df['sex'] = df['sex'].map({'F':0, 'M':1})

In [25]:
df=df.dropna(axis=0)

In [26]:
df['height']=df['height'].astype(int)
df['weight']=df['weight'].astype(int)
df['temperature']=df['temperature'].astype(int)
df['pulse']=df['pulse'].astype(int)

In [68]:
df[df["sex"]==0]

      height  age  sex  weight  diastolic  systolic  temperature  pulse
0        133   98    0      34         98       175           36     90
1        136   82    0      43         69       131           36     98
2        139   67    0      53         61        98           36     99
3        139   95    0      53         67       118           36    111
4        140   84    0      40         73       131           36     72
...      ...  ...  ...     ...        ...       ...          ...    ...
1887     174   31    0      69         66       119           36     66
1919     174   47    0      93        101       152           36     79
1920     174   36    0      65         87       142           36     84
2000     176   74    0      75         74       111           36    125
2050     177   50    0      56         72       111           36    105

[1088 rows x 8 columns]

In [30]:
feature_columns =df.columns.difference(["sex"])
X = df[feature_columns]
y = df["sex"]

In [36]:
train_x, test_x ,train_y, test_y = train_test_split(X, y, stratify=y,train_size=0.7,test_size=0.3,random_state=1)
print(train_x.shape, test_x.shape, train_y.shape, test_y.shape)

(1549, 7) (665, 7) (1549, 1) (665, 1)

# sm.Logit

In [40]:
model = sm.Logit(train_y, train_x)
results = model.fit()

Optimization terminated successfully.
         Current function value: 0.305098
         Iterations 8

In [41]:
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                    sex   No. Observations:                 1549
Model:                          Logit   Df Residuals:                     1542
Method:                           MLE   Df Model:                            6
Date:                Mon, 03 Jan 2022   Pseudo R-squ.:                  0.5597
Time:                        13:29:15   Log-Likelihood:                -472.60
converged:                       True   LL-Null:                       -1073.4
Covariance Type:            nonrobust   LLR p-value:                2.045e-256
===============================================================================
                  coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------
age             0.0444      0.006      7.239      0.000       0.032       0.056
diastolic      -0.0009      0.006     -0.155      0.877      -0.012       0.010
height          0.3333      0.019     17.795      0.000       0.297       0.370
pulse           0.0073      0.006      1.199      0.231      -0.005       0.019
systolic        0.0153      0.005      2.792      0.005       0.005       0.026
temperature    -1.6817      0.090    -18.591      0.000      -1.859      -1.504
weight          0.0246      0.009      2.758      0.006       0.007       0.042
===============================================================================
"""

In [66]:
import numpy as np
np.exp(results.params)  # 오즈 비(Odds Ratio) 출력

age            1.045430
diastolic      0.999128
height         1.395553
pulse          1.007363
systolic       1.015448
temperature    0.186053
weight         1.024935
dtype: float64

Odds Ratio 

Odds Ratio란 Odds의 비율이다. Odds란 성공/실패와 같이 상호 배타적이며 전체를 이루고 있는 것들의 비율을 의미

# LogisticRegression

In [51]:
lr = LogisticRegression() # 로지스틱 회귀 모델의 인스턴스를 생성
lr.fit(train_x, train_y) # 로지스틱 회귀 모델의 가중치를 학습

C:\Users\chlal\conda\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

LogisticRegression()

In [60]:
print("coefficient = ", lr.coef_)

coefficient =  [[ 4.39692528e-02 -8.97882238e-04  3.30521442e-01  7.09696702e-03
   1.51696732e-02 -1.66664442e+00  2.48988548e-02]]

In [53]:
Y_pred = lr.predict(test_x)
print(Y_pred)

[0 1 1 0 0 0 0 1 1 1 1 1 0 0 1 1 1 1 0 1 0 1 0 0 0 0 1 1 1 0 0 1 1 1 1 1 0
 1 1 0 1 1 0 1 1 1 0 0 0 0 1 0 0 1 0 1 0 1 0 0 1 1 1 0 1 0 0 1 1 0 1 0 1 0
 1 1 0 1 0 0 0 1 0 0 0 1 0 0 1 0 0 0 1 0 0 0 0 1 0 1 1 1 1 0 0 0 1 1 0 0 0
 1 1 1 1 1 0 0 1 1 1 0 1 1 1 0 0 0 0 0 0 0 1 0 0 0 1 0 1 0 1 1 1 0 0 0 0 1
 1 0 1 0 1 0 0 1 1 0 0 1 1 1 1 1 1 1 1 0 1 0 1 1 0 1 0 1 0 0 0 0 1 1 1 0 0
 0 0 1 0 0 0 1 1 1 1 0 0 0 1 0 0 1 1 0 0 1 0 0 1 1 1 0 1 0 0 0 1 1 1 1 1 1
 0 1 1 0 0 0 1 0 0 0 1 1 1 0 1 1 1 1 0 1 0 1 1 0 1 0 0 1 0 1 0 0 1 1 0 0 1
 1 1 1 0 1 0 0 1 1 1 1 1 1 0 1 0 1 1 0 1 1 1 0 1 0 0 1 0 0 1 1 0 0 1 0 1 0
 0 0 0 0 0 0 1 0 0 1 1 0 1 0 0 1 0 1 0 1 0 1 0 1 1 0 0 1 1 1 1 0 1 1 0 0 0
 0 1 1 1 1 1 1 1 0 1 0 0 0 0 0 1 1 0 0 1 0 1 0 0 0 1 0 0 0 0 1 0 1 1 1 1 1
 1 0 1 0 0 1 0 0 0 1 0 0 0 1 1 0 0 0 1 1 1 0 0 0 1 0 1 0 1 1 0 1 1 0 1 0 0
 0 1 1 0 1 1 1 1 0 0 0 1 1 0 0 1 1 1 1 0 0 0 0 1 1 1 1 0 1 0 1 0 1 0 0 0 0
 1 1 1 1 0 0 0 1 0 0 1 0 0 0 1 1 1 1 1 0 0 0 1 0 1 1 0 0 0 1 0 0 1 1 0 0 0
 0 1 0 0 0 0 1 1 0 1 0 1 1 0 0 1 0 0 1 1 1 1 0 1 0 1 0 1 0 1 0 0 0 1 1 0 0
 0 0 0 0 1 1 1 0 1 0 0 0 1 0 1 1 0 0 0 1 1 1 1 1 1 1 0 1 0 0 1 1 1 0 0 0 1
 1 0 0 1 1 0 0 1 1 0 1 0 1 1 0 1 0 0 1 0 1 0 0 0 1 0 0 0 1 1 1 0 0 1 1 1 0
 1 0 1 0 0 0 0 0 0 1 1 0 0 1 1 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 1 1 0 0 0 0 1
 0 1 1 1 0 0 1 0 0 0 0 1 1 1 1 0 0 1 1 1 1 0 1 0 1 0 0 0 0 1 0 0 1 0 1 0]

In [57]:
test_y

      sex
52      0
1116    1
2155    1
598     0
924     0
...   ...
282     0
1658    1
670     0
1328    1
97      1

[665 rows x 1 columns]

In [59]:
metrics.accuracy_score(test_y, Y_pred)

0.8827067669172932