### (1) pd.DataFrame.iterrows() : 행에 대해 순환 반복
    - (Iterate over DataFrame rows as (index, Series) pairs.)

### (2) pd.DataFrame.iteritems() : 열에 대해 순환 반복
    - (Iterate over DataFrame (column name, Series) pairs.)

### (3) pd.DataFrame.itertuples() : 이름이 있는 튜플 (인덱스, 행, 열) 에 대해 순환 반복
    - (Iterate over DataFrame rows as namedtuples)

In [2]:
import pandas as pd

df = pd.DataFrame(
    {'price': [100, 200, 300],
     'weight': [20.3, 15.1, 25.9]},
    index=['idx_a', 'idx_b', 'idx_c'])

df

       price  weight
idx_a    100    20.3
idx_b    200    15.1
idx_c    300    25.9

#### (1) DataFrame.iterrows() : 행에 대해 순환 반복

In [9]:
## DataFrame.iterrows()
for idx, row in df.iterrows():
    print("** index name:", idx)
    print(row)
    print("------"*5)
    print(str(row[0]).strip()) # or row('price')

** index name: idx_a
price     100.0
weight     20.3
Name: idx_a, dtype: float64
------------------------------
100.0
** index name: idx_b
price     200.0
weight     15.1
Name: idx_b, dtype: float64
------------------------------
200.0
** index name: idx_c
price     300.0
weight     25.9
Name: idx_c, dtype: float64
------------------------------
300.0

####   (2) DataFrame.iteritems() : 열에 대해 순환 반복

In [12]:
for col, item in df.iteritems():
    print("** column name:", col)
    print(item) # = print(item, sep='\n')
    print("-----"*5)
    print(item[0]) # = print(item['idx_a'])

** column name: price
idx_a    100
idx_b    200
idx_c    300
Name: price, dtype: int64
-------------------------
100
** column name: weight
idx_a    20.3
idx_b    15.1
idx_c    25.9
Name: weight, dtype: float64
-------------------------
20.3

#### (3) DataFrame.itertuples() : 이름이 있는 튜플 (인덱스, 행, 열) 에 대해 순환 반복

In [13]:
for row in df.itertuples():
    print(row)

Pandas(Index='idx_a', price=100, weight=20.3)
Pandas(Index='idx_b', price=200, weight=15.1)
Pandas(Index='idx_c', price=300, weight=25.9)

In [14]:
for row in df.itertuples(index=False):
    print(row)

Pandas(price=100, weight=20.3)
Pandas(price=200, weight=15.1)
Pandas(price=300, weight=25.9)

In [15]:
for row in df.itertuples(name='Product'):
    print(row)

Product(Index='idx_a', price=100, weight=20.3)
Product(Index='idx_b', price=200, weight=15.1)
Product(Index='idx_c', price=300, weight=25.9)