In [7]:
import pandas as pd

In [8]:
df1=pd.read_csv('C:/Users/areum/Desktop/POC시연자료/연관분석결과.csv')
df2=pd.read_csv('C:/Users/areum/Desktop/POC시연자료/연과분석_상픔코드.csv')

In [10]:
df1['code1']=df1.Item.str.split('=>').str[0]
df1['code1']=df1['code1'].astype('int')

In [12]:
df1=pd.merge(df1, df2, left_on = 'code1', right_on = '상품코드', how = 'inner')

In [76]:
df1['code2']=df1.Item.str.split('=>').str[1]
df1['code2']=df1['code2'].astype('int')

In [78]:
df1=pd.merge(df1, df2, left_on = 'code2', right_on = '상품코드', how = 'inner')

In [80]:
df1=df1[['Item','상품명(기본)_x','상품명(기본)_y']]

In [81]:
df1

,Item,상품명(기본)_x,상품명(기본)_y
0,1000000313 => 1000000310,[링셀]크림X1ea,링셀 수분 단백질 퍼스트 앰플
1,1000000309 => 1000000310,링셀 수분 단백질 인텐시브 큐브,링셀 수분 단백질 퍼스트 앰플
2,1000000313 => 1000000309,[링셀]크림X1ea,링셀 수분 단백질 인텐시브 큐브
3,1000000310 => 1000000309,링셀 수분 단백질 퍼스트 앰플,링셀 수분 단백질 인텐시브 큐브
4,1000000310 => 1000000313,링셀 수분 단백질 퍼스트 앰플,[링셀]크림X1ea
5,1000000309 => 1000000313,링셀 수분 단백질 인텐시브 큐브,[링셀]크림X1ea
6,1000000139 => 1000000140,마이코드 멀티비타민 미네랄 포 우먼 1박스 (2개월분),[마]비타민 포맨x1ea
7,1000000140 => 1000000139,[마]비타민 포맨x1ea,마이코드 멀티비타민 미네랄 포 우먼 1박스 (2개월분)
8,1000000254 => 1000000169,데일리오메가3 공용품목(기획세트),루테인 베타카로틴 공용품목(기획세트)
9,1000000254 => 1000000251,데일리오메가3 공용품목(기획세트),프로폴리스 공용품목(기획세트)
10,1000000254 => 1000000286,데일리오메가3 공용품목(기획세트),칼슘마그네슘망간 플러스 비타민 D.K (3개월분)
11,1000000254 => 1000000285,데일리오메가3 공용품목(기획세트),포스트 액티브 공용품목(기획세트)
12,1000000169 => 1000000254,루테인 베타카로틴 공용품목(기획세트),데일리오메가3 공용품목(기획세트)
13,1000000251 => 1000000254,프로폴리스 공용품목(기획세트),데일리오메가3 공용품목(기획세트)
14,1000000286 => 1000000254,칼슘마그네슘망간 플러스 비타민 D.K (3개월분),데일리오메가3 공용품목(기획세트)
15,1000000285 => 1000000254,포스트 액티브 공용품목(기획세트),데일리오메가3 공용품목(기획세트)
16,1000000347 => 1000000348,라보펫 강아지 고양이 관절 연골 영양제 MSM 30일분,라보펫 강아지 고양이유산균 포스트바이오틱스 30일분
17,1000000348 => 1000000347,라보펫 강아지 고양이유산균 포스트바이오틱스 30일분,라보펫 강아지 고양이 관절 연골 영양제 MSM 30일분
18,1000000145 => 1000000146,[여름] 마이코드 멀티비타민 미네랄 포 우먼 2박스 (4개월분),[여름] 마이코드 멀티비타민 미네랄 포 맨 2박스 (4개월분)
19,1000000146 => 1000000145,[여름] 마이코드 멀티비타민 미네랄 포 맨 2박스 (4개월분),[여름] 마이코드 멀티비타민 미네랄 포 우먼 2박스 (4개월분)

In [14]:
df = pd.read_excel("C:/Users/areum/Desktop/POC시연자료/결과코드매칭.xlsx")
df_item = pd.read_excel("C:/Users/areum/Desktop/POC시연자료/결과코드매칭.xlsx", sheet_name="ItemMaster")
#sheet_name 같은 엑셀파일 안에 다른 시트에 존재하면 그 시트 이름을 작성해서 불러올 수 있다.

In [18]:
ㅇㄹ.ㅗ

                     Result
0  1000000310 => 1000000313

In [17]:
df.iterrows()

In [26]:
tempItem = []
itemResultArr = []
for idx, rowItem in df.iterrows():
    tempItem.append(rowItem[0].split(' => '))
    print(rowItem[0])
print(tempItem)

1000000310 => 1000000313
1000000313 => 1000000310
1000000139 => 1000000140
1000000140 => 1000000139
1000000254 => 1000000169
1000000169 => 1000000254
1000000310 => 1000000309
1000000309 => 1000000310
1000000348 => 1000000347
1000000347 => 1000000348
1000000146 => 1000000145
1000000145 => 1000000146
1000000254 => 1000000251
1000000251 => 1000000254
1000000254 => 1000000286
1000000286 => 1000000254
1000000313 => 1000000309
1000000309 => 1000000313
1000000254 => 1000000285
1000000285 => 1000000254
[['1000000310', '1000000313'], ['1000000313', '1000000310'], ['1000000139', '1000000140'], ['1000000140', '1000000139'], ['1000000254', '1000000169'], ['1000000169', '1000000254'], ['1000000310', '1000000309'], ['1000000309', '1000000310'], ['1000000348', '1000000347'], ['1000000347', '1000000348'], ['1000000146', '1000000145'], ['1000000145', '1000000146'], ['1000000254', '1000000251'], ['1000000251', '1000000254'], ['1000000254', '1000000286'], ['1000000286', '1000000254'], ['1000000313', '1000000309'], ['1000000309', '1000000313'], ['1000000254', '1000000285'], ['1000000285', '1000000254']]

In [41]:
df = pd.DataFrame(
    {'price': [100, 200, 300],
     'weight': [20.3, 15.1, 25.9]},
    index=['idx_a', 'idx_b', 'idx_c'])

df

       price  weight
idx_a    100    20.3
idx_b    200    15.1
idx_c    300    25.9

In [46]:
## DataFrame.iterrows()
for idx, row in df.iterrows():
    print("** index name:", idx)
    print(row)
    print("------"*5)
    print(str(row[1]).strip())

** index name: idx_a
price     100.0
weight     20.3
Name: idx_a, dtype: float64
------------------------------
20.3
** index name: idx_b
price     200.0
weight     15.1
Name: idx_b, dtype: float64
------------------------------
15.1
** index name: idx_c
price     300.0
weight     25.9
Name: idx_c, dtype: float64
------------------------------
25.9